html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #313030;
}

.header {
    height: 60px;
    width: 100%;
    background: #5ccccc;
    position: fixed;
    border-bottom: 5px solid #3c8484;
    display: grid;
    grid-template-columns: 46px auto auto auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: sans-serif;
    color: black;
    font-size: 12pt;
    z-index: 5;
}

.header__icon {
    width: 43px;
    cursor: pointer;
}

.header__block__var {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    padding-left: 40px;
}

.header__block__author {
    grid-column-start: 4;
    grid-column-end: 4;
    align-self: center;
    padding-right: 20px;
    text-align: end;
}

.header__block__img {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
    padding-left: 20px;
    padding-top: 5px;
}


.all__site__wrap {
    /* display: grid; */
    padding-top: 100px;
    padding-bottom: 40px;
    height: 100%;
}

.wrap__index__img__graph {
    display: grid;
    text-align: center;
    margin: auto;
    height: 40%;
    width: 40%;
    grid-template-rows: 70% 30%;
    grid-template-columns: 70% 30%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.wrap__img__graph {
    text-align: center;
    /* margin: auto; */
    height: 500px;
    padding-bottom: 20px;
}

.wrap__content {
    display: flex;
    flex-direction: column;
}

.wrap__table {
    justify-self: center;
    /* justify-items: center; */
    border-collapse: collapse;
    /* width: 50%; */
    /* margin: auto; */
}


.clock, .select {
    text-transform: uppercase;
    font-size: 12pt;
    text-align: center;
    letter-spacing: 2px;
    color: #5ccccc;
}

div {
    margin-bottom: 5px;
}

img{
    border-radius: 10px;
}

#clock {
    font-size: xx-large;
}

.container {
    border-radius: 10px;
    background-color: #282c34;
    font-size: 20px;
    font-family: serif;
    color: #4bb6a7;
    padding: 1em 0;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 10px;
}

.left {
    float: left;
    padding-left: 20px;
}

.right {
    float: right;
    padding-right: 20px;
}

.center_names{
    padding-left: 100px;
}

.center_pip{
    padding-left: 230px;
}

.center_clock{
    padding-left: 300px;
}

.center_btn{
    padding-left: 256px;
}

.task_image {
    border-radius: 20px;
    margin: 20px;
}

.task_text {
    border-radius: 20px;
    height: 217px;
    margin: 20px 0px 20px 20px;
}

#VT_logo {
    margin-top: -14px;
}

.task-container, .form-container {
    text-align: left;
}

input {
    margin: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
}

#R, #Y {
    width: 140px;
}

form {
    /*display: inline-block;*/
    /*margin: 10px 40px;*/
    /*vertical-align: bottom;*/
    /* height: 280px; */
    text-transform: uppercase;
    font-size: 12pt;
    text-align: center;
    letter-spacing: 2px;
    width: 300px;
    height: 50px;
    padding: 0;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.answer {
    display: inline-block;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    background-color: #333333;
    margin: 10px 40px;
}

.submit {
    width: 165px;
    background: #4bb6a7 !important;
    height: 30px;
    border-radius: 10px;
}

.submit:hover {
    background: #d19a62 !important;
}

.submit:active {
    background: #b7403e !important;
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid #4bb6a7;
    padding: 5px;
}

img.zoom {
    cursor: pointer;
    height: 217px;
    text-align: center;
}

img.zoom:hover {
    width: 650px;
    margin: 20px 0 0 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background: black;
    height: 250px;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12pt;
    text-align: end;
}

.footer__block {
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
    text-align: center;
    align-self: center;
    border-right: 1px solid;
    border-left: 1px solid;
    padding-left: 30px;
    padding-right: 30px;
}

.footer__icon {
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin: 11px;
}